// ======== ROBOTO
@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
}

// ======== RALEWAY
@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/raleway/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway SemiBold';
    src: url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Medium';
    src: url('../fonts/raleway/Raleway-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Light';
    src: url('../fonts/raleway/Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway ExtraLight';
    src: url('../fonts/raleway/Raleway-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway Thin';
    src: url('../fonts/raleway/Raleway-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../fonts/bebas-neue/BebasNeue-Regular.ttf') format('truetype');
}